
body{
    margin-top: -21px;
    background-color: tomato;
}
header{
    text-align: center;
    height: 2em;
    background-color: black;
    color: white;

}
#sg_heading{
    text-align: center;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#sg_dob{
    text-align: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 0;
}
#sg_para{
    text-align: center;
    font-style: italic;
}
#main_content{
    margin: 0 50px;
}

img{
    width:100%;
    border: 5px black solid;
}